/* Estilo compartilhado com login */
@import url("./style.css");

/* Adicional para cadastro */
.container {
  max-width: 500px; /* Um pouco maior para acomodar mais campos */
}

.input-box input {
  margin: 0.5rem 0; /* Ajuste para melhor espaçamento */
}

.login-button button {
  margin-top: 1.5rem;
}